{% extends "layout.html" %}

{% block content %}

<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Your Order</h3>
        <hr>
        <div class="row">
            <p>{{ total_cost }} </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="delivery_buttons">
        <a href="/pickup" class="btn btn-primary" id="pickup_button">In-Store Pickup</a>
        <a href="/delivery" class="btn btn-primary" id="delivery_button">Delivery</a>
    </div>
</div>
{% endblock %}
