{% extends "layout.html" %}

{% block content %}

<h2> Fillings and Toppings </h2>

<p>Choose the first filling you want:</p>

<form>
 <input type="radio" id="frosting" name="filling1" value="frosting">
 <label for="frosting">More Frosting</label><br>
 <input type="radio" id="custard" name="filling1" value="custard">
 <label for="custard">Custard</label><br>
 <input type="radio" id="sStrawberries" name="filling1" value="sStrawberries">
 <label for="sStrawberries">Sliced Strawberries with Frosting</label><br>
 <input type="radio" id="sJam" name="filling1" value="sJam">
 <label for="sJam">Strawberry Jam</label><br>
 <input type="radio" id="lCurd" name="filling1" value="lCurd">
 <label for="lCurd">Lemon Curd</label><br>
 <input type="radio" id="cGanache" name="filling1" value="cGanache">
 <label for="cGanache">Chocolate Ganache</label><br>
 <input type="radio" id="nutella" name="filling1" value="nutella">
 <label for="nutella">Nutella</label><br>
 <input type="radio" id="other" name="filling1" value="other">
 <label for="other">Other:</label>
 <input type="text" name=altOption"><br><br>

 <label for="newFilling">Choose the Second filling you want:</label><br><br>

 <input type="radio" id="noMore" name="newFilling" value="noMore">
 <label for="noMore">None</label><br>
 <input type="radio" id="extraFrosting" name="newFilling" value="extraFrosting">
 <label for="extraFrosting">More Frosting</label><br>
 <input type="radio" id="extraCustard" name="newFilling" value="extraCustard">
 <label for="extraCustard">Custard</label><br>
 <input type="radio" id="extraStrawberries" name="newFilling" value="extraStrawberries">
 <label for="extraStrawberries">Sliced Strawberries with Frosting</label><br>
 <input type="radio" id="extraJam" name="newFilling" value="extraJam">
 <label for="extraJam">Strawberry Jam</label><br>
 <input type="radio" id="extraCurd" name="newFilling" value="extraCurd">
 <label for="extraCurd">Lemon Curd</label><br>
 <input type="radio" id="extraGanache" name="newFilling" value="extraGanache">
 <label for="extraGanache">Chocolate Ganache</label><br>
 <input type="radio" id="extraNutella" name="newFilling" value="extraNutella">
 <label for="extraNutella">Nutella</label><br>
 <input type="radio" id="other2" name="newFilling" value="other2">
 <label for="other2">Other:</label>
 <input type="text" name="altOption2"><br><br>

 <label for="toppings">Choose the toppings you want:</label><br><br> 
 <input type "checkbox" name="strawberries" id="strawberries"
 <label for="strawberries">Strawberries</label>
 <input type "checkbox" name="kiwis" id="kiwi"
 <label for="kiwis">Kiwis</label>                        
 <input type "checkbox" name="cherries" id="cherries"
 <label for="cherries">Cherries</label>
 <input type "checkbox" name="mGlaze" id="mGlaze"
 <label for="mGlaze">Mirror Glaze</label>
 <input type "checkbox" name="caramel" id="caramel"
 <label for="caramel">Caramel Sauce</label>                  
</form>

