{% extends "layout.html" %}

{% block content %}

<h2> Fillings and Toppings </h2>

<h3>Order So Far</h3>
<ul>
    <li>Flavor: {{ flav }}</li>
    <li>Frosting: {{ frost }}</li>
    <li>Cake Size: {{ size }} inches</li>
</ul>

<p>Choose the first filling you want:</p>

<form>
 <input type="radio" id="frosting" name="filling1" value="frosting">
 <label for="frosting">Just Frosting</label><br>
 <input type="radio" id="custard" name="filling1" value="custard">
 <label for="custard">Custard</label><br>
 <input type="radio" id="sStrawberries" name="filling1" value="sStrawberries">
 <label for="sStrawberries">Sliced Strawberries with Frosting</label><br>
 <input type="radio" id="sKiwis" name="filling1" value="sKiwis">
 <label for="sKiwis">Sliced Kiwis with Frosting</label><br>
 <input type="radio" id="mOranges" name="filling1" value="mOranges">
 <label for="mOranges">Mandarin Oranges Wedges with Frosting</label><br>
 <input type="radio" id="cherry" name="filling1" value="cherry">
 <label for="cherry">Cherries with Frosting</label><br>
 <input type="radio" id="sJam" name="filling1" value="sJam">
 <label for="sJam">Strawberry Jam</label><br>
 <input type="radio" id="lCurd" name="filling1" value="lCurd">
 <label for="lCurd">Lemon Curd</label><br>
 <input type="radio" id="cGanache" name="filling1" value="cGanache">
 <label for="cGanache">Chocolate Ganache</label><br>
 <input type="radio" id="nutella" name="filling1" value="nutella">
 <label for="nutella">Nutella</label><br>
 <input type="radio" id="other" name="filling1" value="other">
 <label for="other">Other:</label>
 <input type="text" id="altOption" name='altOption"><br><br>

 <label for="newFilling">Choose the Second filling you want:</label><br><br>

 <input type="radio" id="noMore" name="newFilling" value="noMore">
 <label for="noMore">None</label><br>
 <input type="radio" id="extraCustard" name="newFilling" value="extraCustard">
 <label for="extraCustard">Custard</label><br>
 <input type="radio" id="extraStrawberries" name="newFilling" value="extraStrawberries">
 <label for="extraStrawberries">Sliced Strawberries with Frosting</label><br>
 <input type="radio" id="extraKiwis" name="newFilling" value="extraKiwis">
 <label for="extraKiwis">Sliced Kiwis with Frosting</label><br>  
 <input type="radio" id="extraOranges" name="newFilling" value="extraOranges">
 <label for="extraOranges">Mandarin Orange Wedges with Frosting</label><br>
 <input type="radio" id="extraCherriess" name="newFilling" value="extraCherries">
 <label for="extraCherries">Cherries with Frosting</label><br>                           
 <input type="radio" id="extraJam" name="newFilling" value="extraJam">
 <label for="extraJam">Strawberry Jam</label><br>
 <input type="radio" id="extraCurd" name="newFilling" value="extraCurd">
 <label for="extraCurd">Lemon Curd</label><br>
 <input type="radio" id="extraGanache" name="newFilling" value="extraGanache">
 <label for="extraGanache">Chocolate Ganache</label><br>
 <input type="radio" id="extraNutella" name="newFilling" value="extraNutella">
 <label for="extraNutella">Nutella</label><br>
 <input type="radio" id="other2" name="newFilling" value="other2">
 <label for="other2">Other:</label>
 <input type="text" id="altOption2" name="altOption2"><br><br>

 <label for="toppings">Choose the toppings you want:</label><br><br> 
 <input type="checkbox" value="frostDeco" name="top" id="frostDeco"
 <label for="frostDeco">Frosting Decorations</label><br> 
 <input type="checkbox" value="strawberries" name="top" id="strawberries"
 <label for="strawberries">Strawberries</label><br>
 <input type="checkbox" value="kiwis"  name="top" id="kiwis"
 <label for="kiwis">Kiwis</label><br>     
 <input type="checkbox" value="oranges" name ="top" id="oranges"
 <label for="oranges">Mandarin Oranges</label> <br>        
  <input type "checkbox" value="grapes" name="top" id="grapes"
 <label for="grapes">Grapes</label> <br>                  
 <input type="checkbox" value="cherries" name="top" id="cherries"
 <label for="cherries">Cherries</label><br>
 <input type "checkbox" value="chocoShav" name="top" id="chocoShav"
 <label for="chocoShav">Chocolate Shavings</label><br>                         
 <input type "checkbox" value="mGlaze" name="top" id="mGlaze"
 <label for="mGlaze">Mirror Glaze</label><br>
 <input type "checkbox" value="caramel" name="top" id="caramel"
 <label for="caramel">Caramel Sauce</label><br>
 <input type "checkbox" value="chocChips" name="top" id="chocChips"
 <label for="chocChips">Chocolate Chips</label><br>                   
 <input type "checkbox" name="otherTop" id="otherTop"
 <label for="otherTop">Other: </label>
 <input type="text" name="altTop"><br><br>                    
 <input type="submit" value="Submit">
</form>


{% endblock %}
