{% extends "layout.html" %}

{% block content %}


<h2> Delivery: </h2>

<form>
<label for="ordername">Order Name</label>
<input type="text" name="ordername"><br><br>
<label for="address">Address</label>
<input type="text" name="address"><br>
<label for="city">City</label>
<input type="text" name="city"><br>
<label for="state">State</label>
<input type="text" name="state"><br>
<label for="zipcode">Zipcode</label>
<input type="text" name="zipcode"><br><br>
<label for="dDate">Delivery Date</label>
<input type="date" name="dDate"
       min="2023-01-01" max="2023-12-31"
<label for="deliveryTime">Delivery Time: </label>
<input id="deliveryTime" type="time" name="deliveryTime">

<input type="submit" value="Submit">
</form>

{% endblock %}