{% extends "layout.html" %}

{% block content %}


<h2> Pickup: </h2>

<form>
<label for="state">State</label>
<input type="text" name="state"><br>
<label for="city>City</label>
<input type="text" name="city"><br>
<label for="zipcode">Zipcode</label>
<input type="text" name="zipcode"><br>
<label for="pDate">Pickup Date</label>
<input type="date" name="pDate"
       min="2023-01-01" max="2023-12-31" />
<label for="pickupTime">Pickup Time</label>
<input id="pickupTime" type="time" name="pickupTime" />
</form>

{% endblock %}